:root {
  color-scheme: light dark;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

body > * {
  padding: 8px;
}

header {
  background-color: light-dark(dimgrey, whitesmoke);
  color: light-dark(white, black);
  display: flex;
  justify-content: flex-end;
}

#main-os {
  display: none;
  flex-direction: column;
}

.icon {
  user-select: none;
  cursor: pointer;
  width: 72px;
}

.icon:hover {
  background-color: light-dark(#fff3, #0003);
}

.icon:focus {
  border: 1px dotted light-dark(black, white);
}

.window {
  touch-action: none;
  border: 5px solid light-dark(blue, lightblue);
  border-radius: 5px;
  overflow: auto;
  resize: both;
}

.toolbar {
  background-color: light-dark(blue, lightblue);
  color: light-dark(white, black);
  cursor: move;
}

.frame {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
}